<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reviews</title>
 <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" type="text/css">

  <!-- CSS -->
  <link href="/front_end/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="col-xs-3 col-md-3 col-lg-3">
      <a href="/landing">
        <img class="float-left" src="/front_end/img/logo.png">
      </a> 
    </div>
    <div class="col-xs-3 col-md-3 col-lg-3">
      
    </div>
    <<div class="col-xs-6 col-md-6 col-lg-6">
      {%if username  %}
        <label>Hola {{username}} !</label>
      {% else %}
        <a class="btn btn-primary float-right ml-1" href="login.html">Iniciar sesión</a>
        <a class="btn btn-primary float-right " href="register.html">Registrate</a>
      {% endif %}
    </div>
  </nav>

  <!-- Icons Grid -->
  <section class="review bg-light text-center">
    <div class="container">
      <div class="row">
        <label class="col-lg-12 control-label">Resultado</label>
        {{ recomendations}}
        {% for i in recomendations %}
          {% if i['experience']["type"] == 'restaurant' %}
            <div class="col-lg-4 p.solid text-left">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="row">
                      <div class="col-lg-12">
                        <span>{{ i['experience']["name"] }}</span><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span>{{ i['experience']["type"] }}</span><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span>ubicación futuro</span>
                      </div>
                    </div>
                  </div>
                  <div class=" col-lg-3 restaurant"></div>
                </div>
              </div>
            </div>
          {% elif i['experience']["type"] == 'restaurant' %}}
            <div class="col-lg-4 restaurant">{{ i['experience']["name"] }}</div>
          {% endif%}
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>
